@import url(//fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
    padding : 0;
}
body {
    background-color: #F4F4F4;

    font-family: 'MyWebFont', Fallback, sans-serif;
}
header{top:0; 
       left:0; 
       position: relative;
       padding-bottom: 100px;
       display:block;
}
nav{
    
    position: relative;
    
    margin-bottom: 50px
}
nav ul {

background:grey;
float:left;
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
nav li {
 display:inline-block;
 margin:auto;
 padding:0;
 background-color:grey;

 }
nav li li{
 display:block;
 margin:0;
 padding:0;
 background-color:grey;
 }
nav li a {
 display:block;
 width:125px;
 color:white;
 text-decoration:none;
 padding:5px;
 }
nav li a:hover {
 color:blue;
 }
 
nav ul li ul {
 display:none;
 }
 nav ul li:hover ul {
 display:block;
 }
nav li:hover ul li {
 float:none;
 }
nav li ul {
 position:absolute;
 }
 #lesphotos{
     width : 1250px;
     min-height: 800px;
 
     margin-left: auto;
     margin-right: auto;
 }
 .miniatures{
      width : 150px;
     min-height: 335px;
     border: 1px solid black;
     display: inline-block;
 }
 #bloc {
          width : 100%;
     min-height: 147px;     
     margin-left: auto;
     margin-right: auto;
 text-align: center;
 margin-top:5px;
     background-color: transparent;
     color:black;
     
 }
 nav {

     height: 29px;
    
 }
 h1,h3,p{
     padding: 0 33% ;
         
 }
 #formulaire{
     text-align:left;
      margin-top: 2px;

     padding-top:30px;
     padding-bottom: 30px;

 }
 li {
     color: white;
 }
 
 #pagination {
     text-align : center;
     margin: 20px;
     margin-top: :150px;
     padding: 50px 0;
 }
 
 #connect {
     width : 500px;
     height: 300px;
         margin-left: auto;
         margin-right: auto;
         margin-top: 50px;
 }
 
 #contact
 {
     width: 300px;
     height: 400px; 
     margin-top: 100px;
  
 }
#contact input {
     width: 300px;
     margin-top :10px;
 }
 textarea
 {
     width: 301px;
      margin-top :10px;
     height: 250px;
 }
 form{
     
     padding: 0 30% ;
     
     
 }